@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.header {
    padding: 0.9375rem 4.375rem;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0.9375rem;
    gap: 7.5rem;
    align-items: center;
    border-radius: 12px;
}

.nome {
    color: #000000;
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.container > div {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    align-items: center;
}

.container > div > a {
    text-decoration: none;
    color: #050505;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.contato {
    width: 126px;
    height: 45px;
    border-radius: 9px;
    border: 2px solid #484E53;
    padding: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    color: #484E53;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    background-color: transparent;
}

.modo {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modo > img {
    width: 30px;
    height: 30px;
}

.hamburger {
    display: none;
}




@media (max-width: 500px) {
    .header {
        padding: 1.5625rem 2.5rem;
        background-color: #ccd8e2;
    }

    .expanded {
        height: 250px;
    }

    .hamburger {
        display: flex;
    }

    .button {
        display: none;
    }

    .modo {
        display: none;
    }

    .container > div {
        display: none;

        &.ativo {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: transparent;
            margin: 25px 0px;
            gap: 25px;
        }

        &.ativo > a {
            font-weight: 500;
        }
    }
}