@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    gap: 60px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo > h2 {
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -3%;
    color: #484E53;
}

.titulo > h3 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 650;
    line-height: 100%;
    letter-spacing: -3%;
    background: linear-gradient(to right, #4FC3F7, #484E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}