@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.section {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    margin: 1.5625rem 4.375rem;
    justify-content: center;
    align-items: center;
}

.section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.section > div > h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.8125rem;
    font-weight: 800;
    color: #2B2B2B;
    line-height: 100%;
    letter-spacing: -3%;
}

.section > div > h3 {
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -3%;
    background: linear-gradient(to right, #4FC3F7, #484E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.section > p {
    font-family: 'Inter', sans-serif;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0%;
    color: #1C1E53;
    margin: 0 auto;          
    text-align: center;
}

@media (max-width: 500px) {
    .section {
        margin: 4.5625rem 2.5rem;
    }
}